// light
$color-light-secondary: #999b84;
$color-light-secondary-content: #ffffff;
$color-light-white-800: #ffffff;
$color-light-white-700: #eeeeee;
$color-light-white-600: #dddddd;
$color-light-white-500: #cccccc;
$color-light-white-400: #bbbbbb;
$color-light-white-300: #aaaaaa;
$color-light-white-200: #999999;
$color-light-white-100: #888888;

$color-light-black-100: #777777;
$color-light-black-200: #666666;
$color-light-black-300: #555555;
$color-light-black-400: #444444;
$color-light-black-500: #333333;
$color-light-black-600: #222222;
$color-light-black-700: #111111;
$color-light-black-800: #000000;
// dark
$color-dark-secondary: #999b84;
$color-dark-secondary-content: #ffffff;
$color-dark-white-800: #ffffff;
$color-dark-white-700: #eeeeee;
$color-dark-white-600: #dddddd;
$color-dark-white-500: #cccccc;
$color-dark-white-400: #bbbbbb;
$color-dark-white-300: #aaaaaa;
$color-dark-white-200: #999999;
$color-dark-white-100: #888888;

$color-dark-black-100: #777777;
$color-dark-black-200: #666666;
$color-dark-black-300: #555555;
$color-dark-black-400: #444444;
$color-dark-black-500: #333333;
$color-dark-black-600: #222222;
$color-dark-black-700: #111111;
$color-dark-black-800: #000000;
